<app-navbarapp></app-navbarapp>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col col-12 col-sm-12 col-xl-12 col-md-12 col-lg-12 col-xxl-12">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            
                            <th scope="col">Roll Number</th>
                            <th scope="col">Name</th>
                            <th scope="col">Admission Number</th>
                            <th scope="col">College Name</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr >
                            
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                           
                          </tr>
                          
                          
                        </tbody>
                      </table>
                </div>
            </div>

        </div>
    </div>
</div>