<app-navbarapp></app-navbarapp>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-3">
                <div class="col col-12 col-md-12 col-xl-12 col-xxl-12 col-sm-12 col-lg-12">
                    <label for="" class="form-label"> RollNumber</label>
                    <input name="rollno" [(ngModel)]="rollno"  type="text" class="form-control">
                </div>
                <div class="col col-12 col-md-12 col-xl-12 col-xxl-12 col-sm-12 col-lg-12">
                    <label for="" class="form-label">Name</label>
                    <input name="name" name="" [(ngModel)]="name"  type="text" class="form-control">
                </div>
                
                <div class="col col-12 col-md-12 col-xl-12 col-xxl-12 col-sm-12 col-lg-12">
                    <label for="" class="form-label">College Name</label>
                    <input name="clg" [(ngModel)]="clg"   type="text" class="form-control">
                </div>
                <div class="col col-12 col-md-12 col-xl-12 col-xxl-12 col-sm-12 col-lg-12 text-center">
                    <button  class="btn btn-success" (click)="read()">ADD</button>
                    
                </div>
            </div>
        </div>
    </div>
</div>
